@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }
  .title {
    text-align: left;
  }
  .list-main {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .list-item {
    width: 351px;
  }

  .main-dscr {
    text-align: left;
  }
  .team-list {
    gap: 24px;
  }
  .customers-item {
    width: 168px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
  .footer {
    padding-left: 108px;
  }
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo {
    margin-right: 24px;
    text-align: left;
  }
  .footer-div {
    text-align: left;
  }
  .subscribe-input {
    display: flex;
  }
  .subscribe {
    text-align: left;
  }
  .footer-input {
    width: 264px;
  }
  .footer-btn {
    margin-left: 24px;
  }
}

/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */
/* ^^^^^^^^^^___________^^^^^^^^^^^__________^^^^^^^^^^ */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-bg.jpg);
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .main {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-white);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .list-main {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .main-dscr {
    font-weight: 400;
  }
  .explain {
    display: block;
    padding-bottom: 120px;
  }
  .explain-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text);
    margin-bottom: 72px;
  }
  .explain-list {
    justify-content: center;
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .footer-flex {
    flex-wrap: nowrap;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-input {
    opacity: 1;
  }

  .footer-div {
    margin-left: 120px;
    margin-right: 80px;
  }
}
